<!DOCTYPE html>
<meta charset="utf-8">
<body>
    <h1>Betweenness Centrality</h1>
    <div id="betweenness"></div>
    <h1>Closeness Centrality</h1>
    <div id="closeness"></div>

<link rel="stylesheet" type="text/css" href="../static/css/centrality.css" />
<script src="../static/js/lib/d3.min.js"></script>
<script src="../static/js/lib/jquery-3.1.1.min.js"></script>
<script src="../static/js/data/betweenness.js"></script>
<script src="../static/js/data/closeness.js"></script>
<script src="../static/js/circle_packing.js"></script>
</body>